@font-face {
    font-family: 'MyFont';
    src: url('./Roboto-Italic-VariableFont_wdth,wght.ttf') format('ttf'),
         url('./Roboto-VariableFont_wdth,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

