:root {
  --color-primary: rgba(22, 166, 175, 1);
  --color-secondary: rgba(241, 235, 230, 0.95);
  --color-dark: rgba(23, 29, 36, 1);
  --color-border: rgba(82, 82, 82, 1);
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh; 
  box-sizing: border-box; 
  width: 100%;
}

.header_hall {
  padding: 1% 0;
  width: 100%;
  max-width: 990px;
}

.header_text {
  width: 962px;
  height: auto;
  padding-left: 2%;
}

.title_text {
  font-weight: 900;
  font-size: 2.5rem; 
  line-height: 1.2; 
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  margin: 0px;
}

.span_text {
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  
}

.main_hall {
  width: 100%;
  max-width: 990px;
  height: auto;
}

.section {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  background-color: rgba(241, 235, 230, 0.95);
}

.buying_info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 990px;
  padding-left: 2%; /* Используем процент вместо пикселей */
}

.text_session {
  margin: 5px 0px;
}

.buying_info-description {
  list-style-type: none;
  width: fit-content;
  white-space: nowrap;
  margin: 0;
}

.name_text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  vertical-align: middle;
  margin: 0;
}

.text_session {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  vertical-align: middle;
}

.number-text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  vertical-align: middle;
  margin: 0;
}

.cinema {
  background-color:rgba(23, 29, 36, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 990px;
  max-height: 65vh; 
  padding: 2%; 
  
}

.screen {
  width: 80%; 
  max-width: 284px; 
  height: 3vh; 
  margin-bottom: 10px;
}

.seats {
  display: grid;
  padding-top: 2%;
  grid-template-rows: repeat(10, 20px); 
  grid-template-columns: repeat(12, 20px); 
  gap: 4px; 
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.seat {
  width: 1.25rem; 
  height: 1.25rem;
  background-color: white;
  border: 1px solid rgba(82, 82, 82, 1);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.seat:hover {
  background-color: rgb(141, 138, 138);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: scale(1.1); 
}

.seat.selected {
  background-color: #4caf50; 
  border-color: #3e8e41; 
  color: white; 
  box-shadow: 0 4px 6px rgba(72, 167, 85, 0.6); 
}

.seat.selected:hover {
  background-color: #45a049; 
}


.legend {
  width: 100%; 
  max-width: 284px; 
  padding: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  color: white;
}

.legend_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.legend_item-left {
  padding-left: 8px;
}

.legend_item-right {
  padding-right: 8px;
}

.seat-wrapper {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: middle;
  max-height: 1.25rem;
  white-space: nowrap;
}

.seat.free {
  background-color: white;
  cursor: auto;
}

.seat.vip {
  background-color: orange;
  cursor: auto;
}

.seat.occupied {
  background-color: rgba(23, 29, 36, 1);
  cursor: auto;
}

.seat.selected {
  background-color: #00d9d5;
  cursor: auto;
}

  .button_foot {
      width: 96%;
      max-width: 990px;
      padding: 2%;
      display: flex;
      justify-content: center;
      
  }

.custom-button {
  max-width: 232px; 
  height: 40px;
  border-radius: 3px;
  background: rgba(22, 166, 175, 1);
  border: none; 
  color: white; 
  cursor: pointer; 
  transition: box-shadow 0.3s ease; 
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);    
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

  .custom-button:hover {
  
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24); 
} 

@media (min-width: 768px) and (max-width: 989px) {
  .main { 
    height: auto; 
  }


}


@media (min-width: 320px) and (max-width: 767px) {
  .buying_info-description {
    white-space: normal; /* Позволяем тексту переноситься */
  overflow-wrap: break-word;
  }
  
}